 footer {
    height: 150px;
    margin-top: auto;
    color: lightgrey;
    background-color: #4c575a;
    width: 100%;
}

footer:hover {
    height: 150px;
    margin-top: auto;
    color: white;
    background-color: #4c575a;
    width: 100%;
}