:root {
    --UserMainColorPrimary: #f6a843;
    --UserMainColorSecondary: grey;
}

body {
    background-color: var(--UserMainColorPrimary);
}

main {
    display: block;
    align-items: center;
    justify-content: center;
    background-color: var(--UserMainColorSecondary);
    min-height: 100vh;
    width: 85%;
    margin: 0 0 0 max(160px, 15%);
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
}

h3 {
    margin: 0;
}

pre {
    text-wrap: wrap;
    margin: 0;
    padding: 10px;
}

main > div[class=title] {
    padding-left: 32px;
    padding-top: 32px;
    margin: 0;
    color: var(--UserMainColorPrimary);
    font-family: 'Comic Sans MS',monospace;
}

main > div[class=content] {
    padding-left: 32px;
    margin: 0;
    color: var(--UserMainColorPrimary);
    font-family: 'Comic Sans MS',monospace;
}

main > div > div[class=part_title] {
    padding-top: 16px;
    padding-left: 32px;
    margin: 0;
    color: var(--UserMainColorPrimary);
    font-family: 'Comic Sans MS',monospace;
    text-decoration: underline 2px;
}

main > div > div[class=code_title] {
    max-width: 95%;
    margin-top: 16px;
    margin-left: 32px;
    color: grey;
    background-color: #4f4f4f;

}

main > div > div[class=code] {
    max-width: 95%;
    margin-left: 32px;
    color: grey;
    background-color: #2f2f2f;
}

main > div[class=error] {
    margin: 0;
    color: black;
    font-family: 'Comic Sans MS',monospace;
}

main > div > h3 > a {
    margin: 0;
    text-decoration: none;
    color: var(--UserMainColorPrimary);
    background-color: var(--UserMainColorSecondary);
    border: 1px solid var(--UserMainColorSecondary);
    border-radius: 10px;
    transition-duration: 0.5s;
}

main > div > h3 > a:hover {
    margin: 0;
    text-decoration: none;
    color: var(--UserMainColorSecondary);
    background-color: var(--UserMainColorPrimary);
    border: 1px solid var(--UserMainColorPrimary);
    border-radius: 10px;
    transition-duration: 0.5s;
}