:root {
    --UserNavColorPrimary: #f6a843;
    --UserNavColorSecondary: white;
}

nav {
    padding: 0;
    background-color: var(--UserNavColorPrimary);
    min-height: 100vh;
    min-width: 160px;
    width: 15%;
    position: absolute;
    display: flex;
}

nav > ul {
    color: var(--UserNavColorSecondary);
    padding-left: 32px;
    margin-top: 16px;
}

nav > ul > li {
    padding: 2px 0 2px 0;
}

nav > ul > li > a {
    text-decoration: none;
}

nav > ul > li > a > h2 {
    margin: 0;
    color: var(--UserNavColorSecondary);
    padding: 0 20px 0 0;
    background-color: var(--UserNavColorPrimary);
    border: 4px solid var(--UserNavColorPrimary);
    border-radius: 10px;
    transition-duration: 0.5s;
}

nav > ul > li > a > h2:hover {
    margin: 0;
    color: var(--UserNavColorPrimary);
    padding: 0 10px 0 10px;
    background-color: var(--UserNavColorSecondary);
    border: 4px solid var(--UserNavColorPrimary);
    border-radius: 10px;
    transition-duration: 0.5s;
}